{% extends 'base.html' %}
{% block conteudo %}
    <div class="container">
        <h2 class="text-center">Cadastro de Produtos</h2>
        <form method="POST">
            <label class="form-label" for="nome">Nome:</label>
            <input class="form-control" type="text" name="nome" id="nome">
            <label class="form-label" for="preco">Preço:</label>
            <input class="form-control" type="text" name="preco" id="preco">
            <label class="form-label" for="descricao">Descrição:</label>
            <input class="form-control" type="text" name="descricao" id="descricao">
            <button class="btn btn-primary mt-2" type="submit">Enviar</button>
        </form>
    </div>
{% endblock conteudo %}